### Pandas

<div align="justify"><strong>Pandas</strong> es una muy popular librería de código abierto dentro de los desarrolladores de Python, y sobre todo dentro del ámbito de Data Science y Machine Learning, ya que ofrece unas estructuras muy poderosas y flexibles que facilitan la manipulación y tratamiento de datos. Las dos estructuras de datos principales dentro del paquete Pandas son:</div>

-  <div align="justify"><strong>Series</strong>: array unidimensional etiquetado capaz de almacenar cualquier tipo de dato.</div> 

-  <div align="justify"><strong>DataFrame</strong>: estructura bidimensional con columnas que pueden ser también de cualquier tipo. Estas columnas son a su vez Series.</div>

<div align="justify">Para crear una serie ocupamos <strong>pd.Series(data=datos, index=indices, dtype=tipo)</strong></div>

- <strong>data</strong> es el conjunto de datos (puede ser una lista, un numpy array o un diccionario)
- <strong>index</strong> es una lista con los indices. Si se omite, toma por defecto los valores desde 0 hasta len(datos)-1
- <strong>dtype</strong> es el tipo de dato. (Especifica como se van a interpretar los datos de la Serie)

```{dropdown} Revisa para profundizar

[Documentación de Pandas](https://pandas.pydata.org/docs/user_guide/index.html)

[Atributos, operaciones y funciones en Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)
```

In [1]:
pip install pandas # en caso de que no est instalada.

Requirement already satisfied: pandas in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)

Requirement already satisfied: pytz>=2020.1 in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/claudiorojas/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Note: you may need to restart the kernel to use updated packages.

In [2]:
# importamos las librerías, le damos un seudónimo a las librerias para mejorar 
# legibilidad en el código.
import pandas as pd

<div align="justify"><strong>Crear un DataFrame.</strong>: Crea un DataFrame simple a partir de un diccionario </div>

In [3]:
data = {'Nombre': ['Juan', 'María', 'Carlos', 'Luis'],
        'Edad': [25, 30, 35, 40],
        'Ciudad': ['México', 'Madrid', 'Buenos Aires', 'Lima']}
df = pd.DataFrame(data)
print(df)

   Nombre  Edad        Ciudad
0    Juan    25        México
1   María    30        Madrid
2  Carlos    35  Buenos Aires
3    Luis    40          Lima

<div align="justify"><strong>Seleccionar columnas</strong> : Selecciona una columna específica del DataFrame.</div>

In [4]:
print(df['Nombre'])

0      Juan
1     María
2    Carlos
3      Luis
Name: Nombre, dtype: object

<div align="justify"><strong>Filtrar filas</strong>: Filtra filas basadas en una condición.</div>

In [5]:
filtro = df['Edad'] > 30
print(df[filtro])

   Nombre  Edad        Ciudad
2  Carlos    35  Buenos Aires
3    Luis    40          Lima

<div align="justify"><strong>Agregar una nueva columna</strong>: Agrega una nueva columna al DataFrame.</div>

In [6]:
df['Género'] = ['Hombre', 'Mujer', 'Hombre', 'Hombre']
print(df)

   Nombre  Edad        Ciudad  Género
0    Juan    25        México  Hombre
1   María    30        Madrid   Mujer
2  Carlos    35  Buenos Aires  Hombre
3    Luis    40          Lima  Hombre

<div align="justify"><strong> Eliminar columnas</strong> : Elimina una columna del DataFrame.</div>

In [7]:
df = df.drop('Ciudad', axis=1)
print(df)

   Nombre  Edad  Género
0    Juan    25  Hombre
1   María    30   Mujer
2  Carlos    35  Hombre
3    Luis    40  Hombre

<div align="justify"><strong> Agregar una fila</strong>: Agrega una nueva fila al DataFrame.</div>

In [8]:
nueva_fila = pd.DataFrame({'Nombre': ['Laura'], 'Edad': [28], 'Ciudad': ['Barcelona'],
                           'Género': ['Mujer']})
df = pd.concat([df, nueva_fila], ignore_index=True)
print(df)

   Nombre  Edad  Género     Ciudad
0    Juan    25  Hombre        NaN
1   María    30   Mujer        NaN
2  Carlos    35  Hombre        NaN
3    Luis    40  Hombre        NaN
4   Laura    28   Mujer  Barcelona

<div align="justify"><strong> Eliminar filas</strong>: Elimina filas del DataFrame.</div>

In [9]:
df = df.drop(0)
print(df)

   Nombre  Edad  Género     Ciudad
1   María    30   Mujer        NaN
2  Carlos    35  Hombre        NaN
3    Luis    40  Hombre        NaN
4   Laura    28   Mujer  Barcelona

<div align="justify"><strong>Exportar a CSV</strong> : Exporta el DataFrame a un archivo CSV.</div>

In [10]:
df.to_csv('nuevo_archivo.csv', index=False)